//Index
@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    .home-container {
        padding: 20px; 
        height: 85vh; 
    }

    .hero-image {
       
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                    url('/images/index_man.webp'); 
        
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        border-radius: 20px; 
        box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .welcome-text {
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 30px;
        border-radius: 15px;
    }
</style>

<div class="home-container">
    <div class="hero-image">
        <div class="welcome-text">
            <h1 class="display-4 fw-bold text-dark">Welcome to BookFlow</h1>
            <p class="lead text-dark">Managing your library with precision and style.</p>
            <hr class="my-4">
            <p class="text-secondary">Codveda Full-Stack Internship - Phase 1</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Explore Catalog</a>
        </div>
    </div>
</div>
